body
{
    background:rgb(240,240,240);
}
#middleground > header > input
{
    font-family: 'Niramit', sans-serif;
}
#list,
#article,
#loading
{
    background:white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#line
{
    background:#007991;
}
#listing > .entry.date > time,
#article_preview > h1
{
    color:#38AECC;
    font-family: 'PT Mono', monospace;
}
#listing > .entry.date > time:active,
#article_preview > h1:active
{
    color:#022F40;
}
#listing > .entry.article > article  > time,
#article_preview > h2
{
    font-family: 'PT Mono', monospace;
}
#listing > .entry.article > article  > p
{
    font-family: 'Bitter', serif;
}
#listing > .entry.article > article  > .bottom > a
{
    color:#38AECC;
    font-family: 'Bitter', serif;
}
#listing > .entry.article:active > article  > .bottom > a
{
    color:#022F40;
}
#listing > .entry.article > article  > .bottom > span,
#article_preview > .tag
{
    font-family: 'Niramit', sans-serif;
    color:#38AECC;
}
#listing > .entry.article > article  > .bottom > span:active,
#article_preview > .tag:active
{
    color:#022F40;
}

#article_preview > hr
{
    border-top-color: #38AECC;
    color:#38AECC;
}
#article_preview > hr::after
{
    background: white;
}