body
{
  background:rgb(200,200,200);
}
#head
{
  background:lightGray;
  color:white;
}
#head_top
{
  border-top:5px solid white;
  border-bottom:5px solid white;
}
#head_menu
{
  background:rgba(48,48,48,0.48);
}
#head_menu_bar .button.active
{
  border-bottom:2px solid white;
}

#body .page section
{
  border-top:4px solid rgb(48,224,148);
}
#body .page section:last-child
{
  border-bottom:4px solid rgb(48,224,148);
}
#body .page section h1
{
  border-bottom:2px solid rgb(48,224,148);
}
#body .page section article
{
  background:white;
}
#body .page section article.picturesque
{
  color:lightGray;
}
#body .page section article h2
{
  border-bottom:1px solid rgb(180,180,180);
}
#body .page section article .tags a
{
  color:rgb(72,144,60);
}