body
{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
    --spacing:16px;
    --colours: blue;
}

.hide
{
    display:none;
}

#viewport
{
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    background: #000000;
    overflow-x:hidden;
    overflow-y:visible;
}
#inner
{
    width:100%;
    padding:var(--spacing);
    box-sizing:border-box;
}
#header
{
    width:100%;
    height:calc(100vh - var(--spacing));
    margin-bottom:var(--spacing);
    position:relative;
    top:0;
    left:0px;
}
#header_bg,
#header_oy
{
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    overflow:hidden;
}
#header_bg img
{
    height:100vh;
    display:block;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
#header_oy
{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 30%, rgba(0,212,255,0) 100%);
    display:flex;
    justify-content:center;
    align-items:center;
}
#header_oy h1
{
    text-align:center;
    font-size:4em;
    font-family: 'Amatic SC', cursive;
    display:block;
}

section
{
    width:100%;
    min-height:100vh;
    padding:var(--spacing);
    margin-bottom:var(--spacing);
    text-align:center;
    color:white;
    box-sizing:border-box;
}
section:last-child
{
    margin-bottom:0 !important;
}
section h1
{
    margin:24px 0;
    text-align:center;
    font-family: 'Amatic SC', cursive;
    font-size:2em;
}

#aboutme_cont
{
    display:flex;
    flex-direction:column;
}
#aboutme_cont_img
{
    height:84%;
    transform:scale(0.84);
}
#aboutme_cont_img img
{
    width:100%;
}
#aboutme_cont_text
{
    font-family: 'Palanquin Dark', sans-serif;
}

#links
{
    margin-bottom:var(--spacing);
    display:flex;
    flex-direction:row;
    justify-content:center;
}
#links img
{
    height:2em;
    padding:0 8px;
}

#projects,
#blog
{
    width:100%;
}
#projects_list,
#blog_list
{
    margin-bottom:var(--spacing);
}
#projects_list a,
#blog_list a
{
    color:black;
    text-decoration:none;
    margin-bottom:var(--spacing);
    display:block;
    cursor:pointer;
}
#projects_list a:last-child,
#blog_list a:last-child
{
    margin-bottom:0 !important;
}
#projects_list article,
#blog_list article
{
    background:white;
    border-radius:4px;
    padding:var(--spacing);
}
#projects_list article h2,
#blog_list article h2
{
    font-size:1.5em;
    font-family: 'Meera Inimai', sans-serif;
}
#projects_list article p,
#blog_list article p
{
    font-family: 'Palanquin Dark', sans-serif;
}
#blog_list small
{
    font-family: 'Meera Inimai', sans-serif;    
}
#projects_list_showmore,
#blog_list_showmore
{
    border:1px solid rgba(255,255,255,0.8);
    font-family: 'Meera Inimai', sans-serif;
    padding:var(--spacing);
    cursor:pointer;
}