body
{
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
  position:absolute;
  top:0px;
  left:0px;
  overflow:hidden;
}

#viewport
{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  overflow-x:hidden;
  overflow-y:visible;
}

#head
{
  width:100%;
  height:80%;
  min-height:300px;
  position:absolute;
  top:0px;
  left:0px;
  animation:fadein 0.8s;
}
#head_bg
{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  background:rgb(33, 47, 61);
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}
#head_bg.static
{
  transition:background-image 0.4s;
}
#head_bar
{
  width:100%;
  position:absolute;
  top:0px;
  left:0px;
  transition:all 0.4s;
}
#head_bar.bg
{
  background:rgb(25,25,25);
}
#head_bar_inner
{
  width:250px;
  height:48px;
  margin:16px auto;
  display:flex;
}
#head_bar_inner > div
{
  height:48px;
  padding:8px;
  box-sizing:border-box;
}
#head_bar_inner_searchico
{
  width:48px;
  padding:12px !important;
}
#head_bar_inner_searchico > img
{
  width:100%;
  height:100%;
}
#head_bar_inner_searchbar
{
  width:calc(100% - 48px);
}
#head_bar_inner_searchbar > input[type=text]
{
  width:100%;
  height: 32px;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  box-sizing: content-box;
  color: white;
  background: transparent;
  outline: none;
  border: none;
}

#body
{
  width:100%;
  min-height:168px;
  position:absolute;
  top:80%;
  animation:fadein 0.8s;
  background:rgb(251, 252, 252);
}
#body > div
{
  display:none;
}
#body_loading
{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  display:block !important;
}
#body[class] > #body_loading
{
  display:none !important;
}
#body_loading_mid
{
  width:1px;
  height:1px;
  position:absolute;
  top:50%;
  left:50%;
}
#body_loading_mid_inner
{
  width:48px;
  height:48px;
  position:absolute;
  top:-24px;
  left:-24px;
}
#body_loading_mid_inner > img
{
  width:100%;
  height:100%;
}
#body.posts > #body_posts
{
  display:block !important;
}
#body_posts .empty
{
  text-align:center;
  margin-top:32px;
  font-size:48px;
  color:rgb(121, 125, 127);
}
#body_posts .post
{
  padding:16px;
  animation:fadein 0.4s;
}
#body_posts .post:hover
{
  background:rgb(236, 240, 241);
}
#body_posts .post > img
{
  width:100%;
  height:auto;
}
#body_posts .post > .date
{
  text-align:center;
}
